In [1]:
# import pandas
import pandas as pd

In [6]:
#load the dataset
dataset = pd.read_csv('insurance.csv')
dataset.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [7]:
#choose first 7 columns as features
features = dataset.iloc[:,0:6] 
features.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [8]:
#choose the final column for prediction
labels = dataset.iloc[:,-1] 
labels.head(2)

0    16884.9240
1     1725.5523
Name: charges, dtype: float64

In [9]:
#print the number of features in the dataset
print("Number of features: ", features.shape[1])

Number of features:  6

In [10]:
#print the number of samples in the dataset
print("Number of samples: ", features.shape[0])

Number of samples:  1338